<nb-layout>
  <nb-layout-header fixed>
    <div class="container">
      <nav class="nav">
        <a href="index.html" class="nav-logo">No Framework</a>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="index.html" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Gallery</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Features</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Reviews</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Shop</a>
          </li>
        </ul>
        <div class="shopping-bag">
          <i class="ion-bag"><span class="bag-item-count">0</span></i>
        </div>
      </nav>
    </div>
  </nb-layout-header>

  <nb-layout-column>
    <section class="hero">
      <div class="circle circle-small">
        <img src="images/circle-small.png" alt="" />
      </div>
      <div class="circle circle-large">
        <img src="images/circle-large.png" alt="" />
      </div>

      <div class="container">
        <div class="content">
          <div class="text">
            <h1>
              Lifestyle <br />
              Smart <span>Watch</span>
            </h1>
            <h5>Technology of the future</h5>
            <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Accusantium animi blanditiis cumque ea, error esse eveniet harum
              illo magnam minus natus neque optio placeat quibusdam ratione
              saepe sint tenetur voluptas!
            </p>
            <a href="#" class="cta">Buy now</a>
          </div>
          <div class="watch-wrapper">
            <img src="../assets/images/watch.png" alt="" />
          </div>
        </div>
      </div>
    </section>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>
</nb-layout>
